---
layout: default
page_number: 1
---
<p style="text-align: center; font-size: 2em; margin-bottom: 30px;">{{ site.description }}</p>
<div class="posts">
    {% assign count_posts = 0 %}
    {% for post in site.posts %}
    {% assign count_posts = count_posts | plus: 1 %}
    {% endfor %}
    {% assign off_a = page.page_number | minus: 1 | times: 12 %}
    {% for post in site.posts limit: 12  offset: off_a %}
    {% if post.video %}
    <article class="post">
        <div class="author-line">
            <a href="/{{ post.author }}">
                <img src="/images/author-{{ post.author }}.png" class="author-img"> 
                <div class="author-name">
                    <h1>{{ post.author }}</h1>
                </div>
            </a>
            <div class="datetime">
                <p>{% include short_date.html date=post.date %}</p>
            </div>
        </div>
        {% if post.comment %}
        <div class="author-comment" style="font-size: 24pt; width: 520px;">
           <a href="{{post.url}}"> {{ post.comment }}</a><br><a href="{{post.video-href}}" target="_blank">{{post.video-href}}</a>
        </div>
        {% endif %}
        <div class="mem">
            <iframe width="560" height="315" src="{{post.video}}" frameborder="0" allowfullscreen class="youtube-video"></iframe>
        </div>
        <div class="tags">
            {% for tag in post.categories %}
            <a href="/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="vk-share-button"><a href='http://vk.com/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}' target='_blank' onclick="window.open('http://vk.com/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}', this.title, 'toolbar=0, status=0, width=548, height=325'); return false"><img src="/images/vk1.png"><span>Поделиться</span></a></div>
        <a href="http://twitter.com/share?text=&url=https://memoshub.github.io{{post.url}}" title="Поделиться ссылкой в Твиттере" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target="_parent" class="twitter-share-button" data-size="large">Твитнуть</a>

    </article>
    {% else %}
    <article class="post">
        <div class="author-line">
            <a href="/{{ post.author }}">
                <img src="/images/author-{{ post.author }}.png" class="author-img"> 
                <div class="author-name">
                    <h1>{{ post.author }}</h1>
                </div>
            </a>
            <div class="datetime">
                <p>{% include short_date.html date=post.date %}</p>
            </div>
        </div>
        {% if post.comment %}
        <div class="author-comment">
            {{ post.comment }}
        </div>
        {% endif %}
        <div class="mem">
            <a rel="simplebox" href="{{ post.url }}">
            <img src="{{ post.image }}"></a>
        </div>
        <div class="tags">
            {% for tag in post.categories %}
            <a href="/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="vk-share-button"><a href='http://vk.com/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}' target='_blank' onclick="window.open('http://vk.com/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}', this.title, 'toolbar=0, status=0, width=548, height=325'); return false"><img src="/images/vk1.png"><span>Поделиться</span></a></div>
        <a href="http://twitter.com/share?text=&url=https://memoshub.github.io{{post.url}}" title="Поделиться ссылкой в Твиттере" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target="_parent" class="twitter-share-button" data-size="large">Твитнуть</a>

    </article>
    {% endif %}
    {% endfor %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="pages-left">
{%assign rb = count_posts | divided_by: 12.0 | ceil %}
{% for i in (1..rb) %}
{% if i == 1 %}
<div class="selected-page"><a href="/">{{i}}</a></div>
{% elsif i == page_number %}
<div class="selected-page"><a href="/page{{i}}">{{i}}</a></div>
{% else %}
<div class="page-number"><a href="/page{{i}}">{{i}}</a></div>
{% endif %}
{% endfor %}
</div>


