<div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
                    <nav>
                        <a href="{{ site.baseurl }}/categories">Категории</a>
                        <a href="{{ site.baseurl }}/authors">Авторы</a>
                        <a href="{{ site.baseurl }}/memonews">MemoNews</a>
                    </nav>
                </header>
            </div>
        </div>