{% assign author_posts = 0 %}
            {% for post in site.posts %}
            {% if post.author == page.aname %}
            {% assign author_posts = author_posts | plus: 1 %}
            {% endif %}
            {% endfor %}
            {% if author_posts >= 1000 %}
            {% assign cp = author_posts | modulo: 1000 %}
            {% elsif author_posts >= 100 %}
            {% assign cp = author_posts | modulo: 100 %}
            {% elsif author_posts >= 10 %}
            {% assign cp = author_posts | modulo: 10 %}
            {% else %}
            {% assign cp = author_posts %}
            {% endif %}
            {% assign word = "Постов" %}
            {% if cp == 1 %}
            {% assign word = "Пост" %}
            {% elsif cp < 5 %}
            {% assign word = "Постa" %}
            {% else %}
            {% assign word = "Постов" %}
            {% endif %}
            {% if author_posts > 9 and author_posts < 21 %}
            {% assign word = "Постов" %}
            {% endif %}