<article class="post">
{% if post.news %}
    <a href="/memonews"><img src="/images/news-label.png" class="news-label"></a>
    {% endif %}
<div class="author-line">
    <a href="/{{ post.author }}">
        <img src="/images/author-{{ post.author }}.png" class="author-img"> 
        <div class="author-name">
            <h1>{{ post.author }}</h1>
        </div>
    </a>
    <div class="datetime">
        <p>{% include short_date.html date=post.date %}</p>
    </div>
</div>
{% if post.comment %}
<div class="author-comment">{%if post.video%}<br><a href="{{post.video-href}}" target="_blank" style="width: 320px;"><p>{{post.video-href}}</p></a>{%endif%}
    {{ post.comment }}
</div>
{% endif %}
<div class="mem">
    {%if post.video%}
    <iframe width="560" height="315" src="{{post.video}}" frameborder="0" allowfullscreen class="youtube-video"></iframe>
    {%else%}
    <a rel="simplebox" href="{{ post.url }}">
    <img src="{{ post.image }}"></a>
    {%endif%}
</div>
<div class="tags">
    {% for tag in post.categories %}
    <a href="/{{ tag }}">#{{ tag }}</a>
    {% endfor %}
</div>
<div class="vk-share-button"><a href='http://vk.com/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}' target='_blank' onclick="window.open('http://vk.com/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}', this.title, 'toolbar=0, status=0, width=548, height=325'); return false"><img src="/images/vk1.png"><span>Поделиться</span></a></div>
        <a href="http://twitter.com/share?text=&url=https://memoshub.github.io{{post.url}}" title="Поделиться ссылкой в Твиттере" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target="_parent" class="twitter-share-button" data-size="large">Твитнуть</a>

</article>