<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
        {% include meta.html %}
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.png" />
        <link rel="shortcut icon" type="images/x-icon" href="/images/favicon.png" />
    </head>
    <body>
        {% include header.html %}
        <div class="author-description">
            <h1>{{ page.stat }}</h1>
            <img src="/images/author-{{ page.aname }}.png">
            <h1>{{ page.aname }}</h1>
            <a href="https://vk.com/{{ page.vk }}" target="_blank"><img class="svg-icon" src="/images/vk.svg"></a>
            {% include padeg_page.html %}
            <h1>{{ author_posts }} {{ word }} от автора <font color="#4183C4">{{ page.aname }}</font>:</h1>
        </div>
        <div id="main" role="main" class="container">
            <div class="posts">  

{% assign my_array = "" %}
{% for post in site.posts %}
{% if post.author == page.aname %}
{% assign my_array = my_array | append: "***" %}
{% assign my_array = my_array | append: post.date %}
{% endif %}
{% endfor %}
{{my_array}}
{% assign my_array = my_array | split: "***" %}



    {% assign off_a = page.page_number | minus: 1 | times: 12 %}
    {% for datep in my_array limit: 12 offset: off_a %}
    {{datep}}
    {% for post in site.posts %}
        {%if post.date == datep%}
            {% include post.html %}
        {%endif%}
    {% endfor %}

    {% endfor %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        
        {% include footer.html %}
        {% include analytics.html %}
    </body>
</html>
