<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
        {% include meta.html %}
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.png" />
        <link rel="shortcut icon" type="images/x-icon" href="/images/favicon.png" />
    </head>
    <body>
        <div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
                    <nav>
                        <a href="{{ site.baseurl }}/categories">Категории</a>
                        <a href="{{ site.baseurl }}/authors">Авторы</a>
                        <a href="{{ site.baseurl }}/page-constructing">MemesNews</a>
                    </nav>
                </header>
            </div>
        </div>
        <div id="main" role="main" class="container">
            {% assign count_posts = 0 %}
{% for post in site.posts %}
{% assign count_posts = count_posts | plus: 1 %}
{% endfor %}
{% assign off_a = page.page_number | minus: 1 | times: 12 %}

<div class="posts">
{% for post in site.posts limit: 12  offset: off_a %}
<article class="post">
        <div class="author-line">
            <a href="/{{ post.author }}">
                <img src="/images/author-{{ post.author }}.png" class="author-img"> 
                <div class="author-name">
                    <h1>{{ post.author }}</h1>
                </div>
            </a>
            <div class="datetime">
                <p>{% include short_date.html date=post.date %}</p>
            </div>
        </div>
        {% if post.comment %}
        <div class="author-comment">
            {{ post.comment }}
        </div>
        {% endif %}
        <div class="mem">
            <a rel="simplebox" href="{{ post.url }}">
            <img src="{{ post.image }}"></a>
        </div>
        <div class="tags">
            {% for tag in post.categories %}
            <a href="/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="vk-share-button"><a href='http://vk.com/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}' target='_blank' onclick="window.open('http://vk.com/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}', this.title, 'toolbar=0, status=0, width=548, height=325'); return false"><img src="/images/vk1.png"><span>Поделиться</span></a></div>
        <a href="http://twitter.com/share?text=&url=https://memoshub.github.io{{post.url}}" title="Поделиться ссылкой в Твиттере" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target="_parent" class="twitter-share-button" data-size="large">Твитнуть</a>

    </article>
{% endfor %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> 
</div>
        
        <div class="pages-left">
{%assign rb = count_posts | divided_by: 12.0 | ceil %}
{% for i in (1..rb) %}
{% if i == 1 %}
<div class="page-number"><a href="/">{{i}}</a></div>
{% elsif i == page.page_number %}
<div class="selected-page"><a href="/page{{i}}">{{i}}</a></div>
{% else %}
<div class="page-number"><a href="/page{{i}}">{{i}}</a></div>
{% endif %}
{% endfor %}
</div>
</div>
        <div class="wrapper-footer">
            <div class="container">
                <footer class="footer">
                    {% include svg-icons.html %}
                    <p style="font-size: 0.8em; margin: 8px;">2016</p>
                    <!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter39831770 = new Ya.Metrika({
                    id:39831770,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39831770" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
                </footer>
            </div>
        </div>
        {% include analytics.html %}
    </body>
</html>