<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
        {% include meta.html %}
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.png" />
        <link rel="shortcut icon" type="images/x-icon" href="/images/favicon.png" />
    </head>
    <body>
        {% include header.html %}
        <div id="main" role="main" class="container">
            {% assign count_posts = 0 %}
{% for post in site.posts %}
{% assign count_posts = count_posts | plus: 1 %}
{% endfor %}
{% assign off_a = page.page_number | minus: 1 | times: 12 %}

<div class="posts">
{% for post in site.posts limit: 12  offset: off_a %}
{% include post.html %}
{% endfor %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> 
</div>
        
        <div class="pages-left">
{%assign rb = count_posts | divided_by: 12.0 | ceil %}
{% for i in (1..rb) %}
{% if i == 1 %}
<div class="page-number"><a href="/">{{i}}</a></div>
{% elsif i == page.page_number %}
<div class="selected-page"><a href="/page{{i}}">{{i}}</a></div>
{% else %}
<div class="page-number"><a href="/page{{i}}">{{i}}</a></div>
{% endif %}
{% endfor %}
</div>
</div>
        {% include footer.html %}
        {% include analytics.html %}
    </body>
</html>