---
layout: default
---
<a href="javascript:history.back();" class="back-button">Назад</a>
<article class="post">
{% if post.news %}
    <a href="/memonews"><img src="/images/news-label.png" class="news-label"></a>
    {% endif %}
    <h1>{{ page.title }} by <a href="/{{ page.author }}" style="color: #4183c4;">{{ page.author }}</a></h1>
    <div class="entry">
        <p>{{ page.comment }}</p>
{% if page.video %}
       <br><a href="{{page.video-href}}" target="_blank">{{page.video-href}}</a>
{% elsif page.news %}
    <p class="istochnik">Источник: <a href="{{page.news}}" target="_blank">{{page.news}}</a></p>
{% endif %}

    
{% if page.video %}
 <iframe width="560" height="315" src="{{page.video}}" frameborder="0" allowfullscreen class="youtube-video"></iframe>
{% else %}
<img src="{{ page.image }}">
{% endif %}
<div class="tags-block">
{% for tag in page.categories %}
<a href="https://memoshub.ru/{{ tag }}">
#{{ tag }}
</a>
{% endfor %}
</div>
<div class="share-buttons">
<div class="vk-share-button"><a href='http://vk.com/share.php?url=https://memoshub.github.io{{ page.url | uri: absolute }}&image={{page.image}}' target='_blank' onclick="window.open('http://vk.com/share.php?url=https://memoshub.github.io{{ page.url | uri: absolute }}&image={{page.image}}', this.title, 'toolbar=0, status=0, width=548, height=325'); return false"><img src="/images/vk1.png"><span>Поделиться</span></a></div>
        <a href="http://twitter.com/share?text=&url=https://memoshub.github.ip{{page.url}}" title="Поделиться ссылкой в Твиттере" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target="_parent" class="twitter-share-button" data-size="large">Твитнуть</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
    </div>
    <div class="date">
        {% include full_date.html date=page.date %}
    </div>
    {% include disqus.html %}
</article>