<!DOCTYPE html>
<html>
    <head>
        <title>#{{ page.tag }} | {{site.name}}</title>
        {% include meta.html %}
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.png" />
        <link rel="shortcut icon" type="images/x-icon" href="/images/favicon.png" />
    </head>
    <body>
        <div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
                    <nav>
                        <a href="{{ site.baseurl }}/categories">Категории</a>
                        <a href="{{ site.baseurl }}/authors">Авторы</a>
                        <a href="{{ site.baseurl }}/memonews">MemoNews</a>
                    </nav>
                </header>
            </div>
        </div>
        <div id="main" role="main" class="container">
            {% include padeg_tag.html %}
            <h1 class="name-page-category">{{ author_posts }} {{ word }} с тегом <font color = "4183cf">#{{ page.tag }}</font></h1>
            <div class="posts">
                {% for post in site.posts %}
                {% for tags in post.categories %}
                {% if tags == page.tag %}
                {% include post.html %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
        <div class="wrapper-footer">
            <div class="container">
                <footer class="footer">
                    {% include svg-icons.html %}
                    <p style="font-size: 0.8em; margin: 8px;">2016</p>
                    <p style="font-size: 0.8em; margin: 8px;">made by svetashov with {{site.cups}} cups of tea</p>
                </footer>
            </div>
        </div>
        {% include analytics.html %}
    </body>
</html>