<!DOCTYPE html>
<html>
    <head>
        <title>#{{ page.tag }} | {{site.name}}</title>
        {% include meta.html %}
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.png" />
        <link rel="shortcut icon" type="images/x-icon" href="/images/favicon.png" />
    </head>
    <body>
        <div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
                    <nav>
                        <a href="{{ site.baseurl }}/categories">Категории</a>
                        <a href="{{ site.baseurl }}/authors">Авторы</a>
                    </nav>
                </header>
            </div>
        </div>
        <div id="main" role="main" class="container">
            {% include padeg_tag.html %}
            <h1 class="name-page-category">{{ author_posts }} {{ word }} с тегом <font color = "4183cf">#{{ page.tag }}</font></h1>
            <div class="posts">
                {% for post in site.posts %}
                {% for tags in post.categories %}
                {% if tags == page.tag %}
                <article class="post">
                    <div class="author-line">
                        <a href="/{{ post.author }}">
                            <img src="/images/author-{{ post.author }}.png" class="author-img"> 
                            <div class="author-name">
                                <h1>{{ post.author }}</h1>
                            </div>
                        </a>
                        <div class="datetime">
                            <p>{% include short_date.html date=post.date %}</p>
                        </div>
                    </div>
                    {% if post.comment %}
                    <div class="author-comment">
                        {{ post.comment }}
                    </div>
                    {% endif %}
                    <div class="mem">
                        <a rel="simplebox" href="{{ post.url }}">
                        <img src="{{ post.image }}"></a>
                    </div>
                    <div class="tags">
                        {% for tag in post.categories %}
                        <a href="/{{ tag }}">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="vk-share-button"><a href='http://vkontakte.ru/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}' target='_blank' onclick="window.open('http://vkontakte.ru/share.php?url=https://memoshub.github.io{{ post.url | uri: absolute }}&image={{post.image}}', this.title, 'toolbar=0, status=0, width=548, height=325'); return false"><img src="/images/vk1.png"><span>Поделиться</span></a></div>
        <a href="http://twitter.com/share?text=&url=https://memoshub.github.io{{post.url}}" title="Поделиться ссылкой в Твиттере" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target="_parent" class="twitter-share-button" data-size="large">Твитнуть</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                </article>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="wrapper-footer">
            <div class="container">
                <footer class="footer">
                    {% include svg-icons.html %}
                    <p style="font-size: 0.8em; margin: 8px;">2016</p>
                </footer>
            </div>
        </div>
        {% include analytics.html %}
    </body>
</html>